    @import url('https://fonts.cdnfonts.com/css/sst');

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: #9ee4ff;
    }

    li, a {
        font-family: "SST", Condensed;
        text-decoration: none;
        font-weight: 500px;
        font-size: 1.2rem;
        color: #9ee4ff;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 30px 10%;
        background-color: #14406e;
        border-bottom-left-radius: 40px;
        border-bottom-right-radius: 40px;
    }

    body {
        background-color: rgb(15, 15, 15);
        background-size: cover;
        max-width: 1600px;
        margin: 0 auto;
    }

    .navegacao {
        list-style: none;
    }

    .navegacao li {
        display: inline-block;
        padding: 0px 20px;
        transition: 0.5s; 
    }

    .navegacao li:hover {
        transform: scale(1.1);
    }

    .navegacao li a {
        transition: 0.5s;
    }

    .navegacao li a:hover {
        color: #ffffff;
    }

    main {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-radius: 40;
    }

    main .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        align-self: center;
        padding: 30px 10%;
        border-radius: 40;
    }

    button {
        display: inline-block;
        padding: 10px 20px;
        background-color: #14406e;
        font-size: 1.1rem;
        border-radius: 10px;
        cursor: pointer;
        border: none;
        transition: 1s;
    }

    button:hover {
        transition: 1s;
        background-color: #248ab3;
        color: #ffffff;
        transform: scale(1.1);
    }

    .projeto1img {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projeto1img h1 {
        padding: 20px;
    }

    img {
        border-radius: 10px;
    }

    .projeto1p {
        display: flex;
        flex-direction: column;
        width: 600px;
        align-items: center;
        font-size: 1.2rem;
    }

    .projeto1p p {
        padding-bottom: 20px;
    }

    .WOD {
        display: flex;
        flex-direction: column;
        width: 600px;
        align-items: center; 
        font-size: 1.2rem;
    }

    .WOD p {
        padding-bottom: 20px;
    }

    .h1WOD {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .oneImg {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .oneImg h1 {
        padding: 20px;
    }

    .oneP {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 600px;
    }

    .oneP p {
        padding-bottom: 20px;
    }

    .sobreMim {
        width: 100%;
        height: 100%;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 30px 10%;
    }

    .sobreImg img { 
        width: 400px;
        border-radius: 10px;
    }

    .sobrep {
        width: 600px;
    }

    .sobrep h1 {
        padding-bottom: 20px;
        font-size: 40px;
        color: #ffffff;
        text-align: center;
    }

    .sobrep p {
        margin: 10px 0;
        text-align: justify;
    }

    .conhecimentos {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 1.2rem;
        padding: 30px 10%;
    }

    .conhecimentos h1 {
        padding-bottom: 20px;
        font-size: 40px;
        color: #ffffff;
    }

    .conIcons {
        list-style: none;
        padding-top: 20px;
        display: flex;
        align-self: center;
        align-items: center;
    }

    .conIcons li {
        display: inline-block;
        padding: 0px 20px;
        transition: 0.5s;
    }
    .conIcons li:hover{
        transform: scale(1.3);
    }

    #github {
        filter: invert(100%);
    }

    .boasVindas {
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        text-align: center;
        padding: 30px 10%;
    }

    .botoes { 
        font-family: "SST", Condensed;
        width: 100px;
        font-weight: 500px;
        font-size: 1.2rem;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: #14406e;
        border-radius: 40;
        transition: 1s;
        cursor: pointer;
    }

    .botoes:hover {
        background-color: #248ab3;
        transition: 1s;
    }
    
    footer {
        height: 100%;
        padding: 30px 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #14406e;
        border-top-left-radius: 40px;
        border-top-right-radius: 40px;
        font-size: 1.2rem;
    }
    
    footer .contatos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    footer .temas {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .temas h3 {
        padding-bottom: 5px;
    }

    .temas .btnTema {
        width: 100px;
        height: 50px;
        background-color: rgb(20, 19, 20);
        border-radius: 50px;
        position: relative;
        cursor: pointer;
    }

    .btnTema.novoTema {
        background-color: rgb(0, 0, 0);
    }

    .btnTema .circulo {
        width: 50px;
        height: 50px;
        background-color: #9ee4ff;
        border-radius: 50%;
        transform: scale(.8);
        position: absolute;
        left: 0;
        transition: .5s;
    }

    .btnTema.novoTema .circulo {
        left: 50px;
        background-color: rgb(245, 233, 183);
    }
    
    .icons {
        width: 30px;
    }

    .redes {
        list-style: none;
        padding-top: 20px;
        display: flex;
        align-self: flex-start;
    }

    .redes li {
        display: inline-block;
        padding: 0px 20px;
        transition: 0.5s;
    }

    .redes li:hover {
        transform: scale(1.1);
    }

    .redes li a {
        transition: 0.5s;
    }

    .redes li a:hover {
        color: #ffffff;
    }
    
    body.novoTema {
        background-color: rgb(0, 0, 0);
        background-size: cover;
        max-width: 1600px;
        margin: 0 auto;
    }

    body.novoTema h1{
        color: rgb(245, 233, 183);
    }

    body.novoTema p{
        color: rgb(245, 233, 183);
    }

    body.novoTema h3{
        color: rgb(245, 233, 183);
    }

    body.novoTema header {
        background-color: rgb(122, 53, 32);
    }

    body.novoTema a{
        color: rgb(245, 233, 183);
    }

    body.novoTema footer {
        background-color: rgb(122, 53, 32);
    }

    body.novoTema button {
        background-color: rgb(122, 53, 32);
        color: rgb(245, 233, 183);
    }

    body.novoTema button:hover {
        background-color: rgb(204, 99, 67);
        color: #ffffff;
    }
    
    body.novoTema .sobrep h1 {
        color: #ffffff;
    }

        body.novoTema .conhecimentos h1 {
        color: #ffffff;
    }

    body.novoTema .conIcons li {
        color: rgb(245, 233, 183);
    }
